@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Chewy&family=Fredoka+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/candycornbackground.png);
    background-size: cover; /* makes image cover entire viewport */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Baloo 2", sans-serif;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    background-color: #ffcd55;
    padding: 20px;
}

button {
    border: 2px solid white;
    padding: 0.75rem 1.5rem; /* bigger buttons */
    font-size: 1.1rem; /* slightly larger text */
    border-radius: 8px; /* rounded corners */
    cursor: pointer;
    font-family: "Fredoka One", sans-serif;
}

/* Active tab/button */
button.active {
    background-color: #ff9933; /* highlighted when selected */
    color: white;
    border-color: #df7d19;
}

/* Has child elements main-section-title and content-container */
#content {
    display: flex;
    flex-direction: column;
    gap: 130px;
    max-width: 1500px;
    margin: 5rem auto;
    padding: 3rem 130px;
    background-color: #ffcd55;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Use for initial headings under each tab*/
.main-title-container {
    display: inline-block;
    border: 15px solid #f44409;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.main-section-title {
    margin: 0;
    font-size: 30px;
    font-family: "Chewy", cursive;
}

/* Use for subheadings, does not span across whole content div */
.sub-title-container {
    border: 15px solid #df7d19;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.sub-section-title {
    margin: 0;
    font-size: 15px;
    font-family: "Chewy", cursive;
}

.content-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    border: 15px solid #f44409;
    border-radius: 20px;
    text-align: center;
    padding: 30px 100px;
}

.generic-container {
    display: flex;
    flex-direction: column;
    border: 15px solid #df7d19;
    padding: 5px;
    border-radius: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text p {
    text-align: center;
}

.text h2 {
    text-align: center;
}
