@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Chewy&family=Fredoka+One&display=swap");

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/candycornbackground.png);
    background-size: cover; /* makes image cover entire viewport */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Baloo 2", sans-serif;
}

nav {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    background-color: #ffcd55;
    padding: 20px;
}

button {
    border: 2px solid white;
    padding: 0.75rem 1.5rem; /* bigger buttons */
    font-size: 1.1rem; /* slightly larger text */
    border-radius: 8px; /* rounded corners */
    cursor: pointer;
    font-family: "Fredoka One", sans-serif;
}

/* Active tab/button */
button.active {
    background-color: #ff9933; /* highlighted when selected */
    color: white;
    border-color: #df7d19;
}

#content {
    max-width: 1500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffcd55;
    border-radius: 10px;
    box-sizing: border-box;
}

.title {
    font-family: "Chewy", cursive;
}
